@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@1,1&display=swap');

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
    background-color:rgb(1, 21, 14);
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(161, 176, 74);
    color: black;
}

.main-container {
    display: flex;
    justify-content:center;
    text-align: justify;
    padding: 10px;
    align-items:center;
}

.fig-center {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.footer-container {
    background-color: rgb(0, 14, 10);
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:auto;
    margin-top: auto;
    font-family: 'Ysabeau Infant', sans-serif;
    color: antiquewhite;
}

.footer-container-social {
    margin-bottom: 10px;    
}

.footer-container-social > a {
    text-decoration: none;
    color: white;    
}

.footer-container-social > a:hover {
    color: rgb(150, 226, 43);    
}

