@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    background-color:rgb(1, 21, 14);
    color: white;
    font-family: 'Lobster', cursive;
}

.body-container {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    background-color: rgb(161, 176, 74);
}

.footer-container {
    background-color: rgb(0, 14, 10);
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: auto;
    font-family: 'Lobster', cursive;
    color: antiquewhite;
}

.footer-container-social {
    margin-bottom: 10px;   
}

.footer-container-social > a {
    text-decoration: none;
    color: white;    
}

.footer-container-social > a:hover {
    color: rgb(240, 6, 6);   
}

form > div {
    margin-bottom: 20px;
    flex-direction: row;
}

select {
    margin-bottom: 20px;
}

main {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.matricula {
    text-align: center;
}